#root {
    width: 150%;
    height: 100%;
    text-align: center;
    background-color: '86A7FC';
}

.bg-custom-1 {
    background-color: rgba(0, 0, 0, 0.2);
}

.container-fluid {
    width: 100%;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: '86A7FC';
}

body,
html {
    margin: 0;
    padding: 0;
}

h2 {
    color: rgba(0, 82, 165);
}

.load{
    color: rgba(255, 255, 255);
}

.ui.dropdown .visible.menu {
    display: inline-block !important;
  }

a{
    color: rgba(0, 0, 0);
}

.card-footer{
    background-color: rgba(255,255,255);
}